<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
</head>
<body>


<div id = "lobbyLeftDiv">
    <img src="images/musiquiz.png" id="musiquiz">

    <H1>PIN: 12345</H1>

</div>

<div id="participantTable">
    <table id="pTable">
        <tbody>
        <% for(var i = 0; i < participants.length; i++) {%>
        <tr>
            <td>
                <div class="lobby-username"><%= participants[i].Username%></div>
                <div class="lobby-score"><%= participants[i].Score%></div>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<script>
    var pincode = "<%= pincode %>";
</script>
<script src="javascripts/lobbyListener.js"></script>
</body>
</html>