<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/store.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<script>
    var access_token = "<%= access_token %>";
</script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = access_token;
        const player = new Spotify.Player({
            name: 'Musiquiz Player',
            //getOAuthToken: cb => { cb(token); }
            getOAuthToken: callback => {
                callback(access_token);
            },
            volume: 0.1
        });

        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => {
            console.error(message);
            //window.location = "/spotify";
        });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });

        // Playback status updates
        player.addListener('player_state_changed', state => { console.log(state); });

        // Ready
        player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);

        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });

        // Connect to the player created beforehand, this is equivalent to
        // creating a new device which will be visible for Spotify Connect
        player.connect();
    };
</script>

    <ul>
        <li><a class="active" href="./store"><img src="images/Musiquiz.png"></a></li>
        <li><a href="./">Play</a></li>
        <li><a href="./">How To Play</a></li>
        <li style="float: right"><a href="./"><%= coins %> coins</a></li>
    </ul>

<h1>Popular Right Now</h1>
<section class="s">
    <img src="images/arrow_left.svg" id="prev">
    <div class="wrapper">
        <% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %>



        <% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %>
    </div>
    <img src="images/arrow_right.svg" id="next">
</section>
<h1>What's New?</h1>
<section class="s">
    <img src="images/arrow_left.svg" id="prev2">
    <div class="wrapper2">
        <% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %>



        <% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %><% for(var i = 0; i < quiz.length; i++) {%>
        <div class="card">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h4><b><%= quiz[i].Name %></b></h4>
                <p>ID: <%= quiz[i].idquiz %></p>
            </div>
        </div>
        <% } %>
    </div>
    <img src="images/arrow_right.svg" id="next2">
</section>

<script>
    $('#prev').on('click', function() {
        $('.wrapper').animate({
            scrollLeft: '-=205'
        }, 300, 'swing');
    });
    $('#next').on('click', function() {
        $('.wrapper').animate({
            scrollLeft: '+=205'
        }, 300, 'swing');
    });


    $('#prev2').on('click', function() {
        $('.wrapper2').animate({
            scrollLeft: '-=205'
        }, 300, 'swing');
    });

    $('#next2').on('click', function() {
        $('.wrapper2').animate({
            scrollLeft: '+=205'
        }, 300, 'swing');
    });
</script>
</body>
</html>