<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/store.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<script>
    var access_token = "<%= access_token %>";
</script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = access_token;
        const player = new Spotify.Player({
            name: 'Musiquiz Player',
            //getOAuthToken: cb => { cb(token); }
            getOAuthToken: callback => {
                callback(access_token);
            },
            volume: 0.1
        });

        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => {
            console.error(message);
            //window.location = "/spotify";
        });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });

        // Playback status updates
        player.addListener('player_state_changed', state => { console.log(state); });

        // Ready
        player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);

        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });

        // Connect to the player created beforehand, this is equivalent to
        // creating a new device which will be visible for Spotify Connect
        player.connect();
    };
</script>
<!-- The Navbar -->
<ul>
    <li><a class="active" id="helper" href="./store"><img src="images/MusiquizFitted.png"></a></li>
    <li><a href="./lobby">Play</a></li>
    <li><a href="./store">Create</a></li>
    <li><a href="./store">How To Play</a></li>
    <li style="float: right"><a href="./store"><%= coins[0].Coins %> coins</a></li>
</ul>

<!-- The Modal -->
<% for(var i = 0; i < quiz.length; i++) { var mine = false;%>
<div id="myModal<%= i %>" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="closePopUp(<%= i %>)">&times;</span>
        <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
        <h3><b>QuizID: <%= quiz[i].idquiz %></b></h3>
        <h4><b>QuizName:<%= quiz[i].Name %></b></h4>
        <% for(var j = 0; j < owned.length; j++) {%>
        <% if(owned[j].QuizID == quiz[i].idquiz){ mine = true; break; }%>
        <% } %>
        <% if(mine == true){%>
        <form action="store" method="POST" onsubmit="return playQuiz('<%= quiz[i].Name %>');">
            <button value="<%= quiz[i].idquiz %>" name="playThisQuiz">PLAY</button>
        </form>
        <% }else { %>
        <h4><b>Buy this quiz for <%= quiz[i].CostCoin %> coins!</b></h4>
        <form action="store" method="POST" onsubmit="return buyQuiz(<%= coins[0].Coins %>,<%= quiz[i].CostCoin %>,'<%= quiz[i].Name %>');">
            <button value="<%= quiz[i].idquiz %>" name="buyThisQuiz">BUY</button>
        </form>
        <% } %>
    </div>
</div>
<% } %>
<h1>Your quizzes</h1>
<section class="s">
    <img src="images/arrow_left.svg" id="prev">
    <div class="wrapper">
        <% for(var i = 0; i < quiz.length; i++) { var mine = false;%>
        <% for(var j = 0; j < owned.length; j++) {%>
        <% if(owned[j].QuizID == quiz[i].idquiz){ mine = true; break; }%>
        <% } %>
        <% if(mine == true){%>
        <div class="card" onclick="popUp(<%= i %>)" id="myBtn<%= i %>">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h2><%= quiz[i].Name %></h2>
                <p><%= quiz[i].Description %></p>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
    <img src="images/arrow_right.svg" id="next">
</section>
<h1>Store</h1>
<section class="s">
    <img src="images/arrow_left.svg" id="prev2">
    <div class="wrapper2">
        <% for(var i = 0; i < quiz.length; i++) { var mine = false;%>
        <% for(var j = 0; j < owned.length; j++) {%>
        <% if(owned[j].QuizID == quiz[i].idquiz){ mine = true; break; }%>
        <% } %>
        <% if(!mine){%>
        <div class="card" onclick="popUp(<%= i %>)" id="myBtn<%= i %>">
            <img src="images/<%= quiz[i].Image %>" alt="<%= quiz[i].Name %>" style="width:100%">
            <div class="container">
                <h2><%= quiz[i].Name %></h2>
                <p><%= quiz[i].Description %></p>
                <p>Cost: <%= quiz[i].CostCoin %> coins</p>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
    <img src="images/arrow_right.svg" id="next2">
</section>

<script>
    $('#prev').on('click', function() {
        $('.wrapper').animate({
            scrollLeft: '-=220'
        }, 300, 'swing');
    });
    $('#next').on('click', function() {
        $('.wrapper').animate({
            scrollLeft: '+=220'
        }, 300, 'swing');
    });


    $('#prev2').on('click', function() {
        $('.wrapper2').animate({
            scrollLeft: '-=220'
        }, 300, 'swing');
    });

    $('#next2').on('click', function() {
        $('.wrapper2').animate({
            scrollLeft: '+=220'
        }, 300, 'swing');
    });

    function popUp(id) {
        var modal = document.getElementById("myModal"+id);
        modal.style.display = "block";
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
    function closePopUp(id) {
        var modal = document.getElementById("myModal"+id);
        modal.style.display = "none";
    }

    function playQuiz(quizName) {
        return confirm("Do you want to play "+ quizName + "?");
    }

    function buyQuiz(userCoins, quizCost, quizName) {
        if(quizCost > userCoins){
            alert("You don't have enough coins!");
            return false;
        }
        else{
            return confirm("Are you sure you want to buy "+quizName+"?")
        }
    }

</script>
</body>
</html>