ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0,0,0,0.2);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  /*-webkit-text-fill-color: black; /* Will override color (regardless of order) */
  /*-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;*/
  text-shadow:
          -4px -4px 0 white,
          -4px  0   0 white,
          -4px  4px 0 white,
          0   -4px 0 white,
          0    4px 0 white,
          4px -4px 0 white,
          4px  0   0 white,
          4px  4px 0 white;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  overflow: hidden;
}

li a:hover {
  background-color:rgba(0,0,0,0.25);
  overflow-x: hidden;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
li a img{
  height: 56px;
  vertical-align: middle;
}